@import url(https://fonts.cdnfonts.com/css/montserrat);

.footer {
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    &__header{
        background-color: rgb(58, 58, 58);
        padding: 4px 6px; 

        &__logo{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;

            &__icon {
                margin: 0px 5px;
                color: rgb(219, 76, 76);
            }

            &__text{
                color: rgba(255, 255, 255, 0.774);
            }
        }

    }

}